.heading h3{
    color: ;
    border-bottom: 2px solid rgb(2, 2, 61);
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}
.heap{
  text-align: center;
}
.welcome{
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font: 15px;
  
}
.tt{
    border: 1px solid black;
    left: 10px;
}
.mgt0{
    padding: 10px 10px;
}
.tb50{
    margin: 30px 0px;
}

  .mainn{
      position: fixed;
      z-index: 10;
  }
.copyright{
  font-size: 10px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url();
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 8px 10px;
  border: 1px solid rgb(114, 122,122);
  margin-bottom: ;
  margin-top: 10px;

}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a{
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
 color: cadetblue;
  display: block;
}


#myUL li a:hover:not(.header) {
  background-color: #eee;
}
#link{
    margin-bottom: 10px;
}
#heading{
    text-align: center;
    margin: 10px 0px;
    color:dimgray;
    font-family: "Sofia";
  font-size: px;
}